* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

h1 {
  margin-top: 150px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  text-shadow: 0px 5px 10px grey;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  gap: 25px;
}

img {
  width: 350px;
  height: 200px;
  border-bottom: 1px solid black;
}

li {
  list-style: none;
  background-color: #94dffd;
  border: 1px solid black;
  box-shadow: 0px 8px 10px grey;
}

a {
  text-decoration: none;
  color: black;
}

p {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 3px;
}

.div {
  display: flex;
  justify-content: space-around;
}

.div > img {
  height: 20px;
  width: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
}

.wrapper h2 {
  text-align: center;
  margin-top: 50px;
}

.wrapper h3 {
  margin-top: 50px;
  padding-left: 100px;
}

.info {
  height: 700px;
  width: 600px;
  /* border: 1px solid red; */
}

.info > p {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.info > ul > li {
  background-color: white;
  border: none;
}

.facilitieslist {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.facilitieslist > li {
  margin-left: 20px;
  list-style: disc;
  border: none;
  box-shadow: none;
}

.divbox {
  display: flex;
  justify-content: space-between;
  width: 90px;
  margin-left: 20px;
  position: absolute;
  top: 8px;
  right: 16px;
}

.figure{
  position: relative;
}

.figure > img{
  width: 600px;
  height: 700px;
  object-fit: cover;
}

.fa-regular.fa-heart{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
